# Default ignored files
/shelf/
/workspace.xml
# Ignored default folder with query files
/queries/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
# =========================
# JWT / RSA keys (SECURITY)
# =========================
src/main/resources/keys/private.pem
src/main/resources/keys/public.pem
